In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data_csvfile = pd.read_csv('Berlin-tram-route - Sheet1.csv')

In [ ]:
data_csvfile

,route,M1,M2,M4,M5,M6,M8,M10,12,M13,...,21,27,37,50,60,61,62,63,67,68
0,M1,0,0,0,1,0,1,1,1,1,...,0,0,0,1,0,0,0,0,0,0
1,M2,0,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,M4,0,1,0,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,0,0
3,M5,1,1,1,0,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,M6,0,1,1,1,0,1,1,0,1,...,0,1,0,0,0,0,0,0,0,0
5,M8,1,1,1,1,1,0,1,1,1,...,1,1,1,0,0,0,0,0,0,0
6,M10,1,1,1,1,1,1,0,1,1,...,1,0,0,0,0,0,0,0,0,0
7,12,1,1,1,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,0
8,M13,1,1,1,1,1,1,1,0,0,...,1,0,0,1,0,0,0,0,0,0
9,16,0,0,0,1,1,1,0,0,1,...,1,1,0,0,0,0,0,0,0,0
10,M17,0,0,0,1,1,1,0,0,0,...,1,1,1,0,1,0,0,0,1,0
11,18,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,21,0,0,0,0,0,1,1,0,1,...,0,1,1,0,1,0,0,0,1,0
13,27,0,0,0,0,1,1,0,1,0,...,1,0,1,0,1,0,0,0,1,0
14,37,0,0,0,0,0,1,0,0,0,...,1,1,0,0,1,0,0,0,1,0
15,50,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,60,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,1,1,1,1,1
17,61,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
18,62,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,1,1
19,63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,1,1
20,67,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,0,1
21,68,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,0

In [ ]:
New_column_name = list(data_csvfile.columns[1:]) 
while len(New_column_name)>0:
  cluster = [New_column_name[0]]
  New_column_name.remove(cluster[0])
  k = New_column_name.copy()
  for i in k:
    k =0
    for j in cluster:
      if data_csvfile[data_csvfile["route"]==j][i].values[0]==0:
        k = k+1
    if k == len(cluster):
      cluster.append(i)
      New_column_name.remove(i)
  print(cluster)

['M1', 'M2', '16', '18', '37', '61']
['M4', 'M17', '50', '62']
['M5', '12', '21', '63']
['M6', '60']
['M8', '67']
['M10', '27', '68']
['M13']

Since here i got 7 different cluster's so i need 7 different colour


COLOUR:-	    ROUTES \\
RED:-   	     M1, M2, 16, 18, 37, 61 \\
ORANGE:-  	   M4, M17, 50, 62 \\
YELLOW:-  	   M5, 12, 21, 63 \\
BLUE:- 	     M6, 60 \\
BROWN:-	     M8, 67
BLACK:- 	     M10, 27, 68 \\
PINK:-  	     M13